<div th:fragment="footer-tienda" class="footer">
<p>2023 Carrito de compras, App | proyecto web desarrollado con spring boot | Autor: Mateo Josue Rodriguez Chico | 
<a class="text-primary-emphasis h6" href="">Privacy</a> ·
<a class="text-primary-emphasis h6" href="">Terms</a></p>

<style>
footer{
	color: #243B55;
	padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F2F2F2;
    height: 70px;
    position: fixed;
    
   
    }
a{
text-decoration: none;
}

</style>
</div>
