@charset "ISO-8859-1";
body{
background:white;
justify-content: center;
}
#ilustracion{
	position: absolute;	
	top:50px;
	margin-left: 830px;
}

footer{
	color:#243B55;
	padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
   
    }
    
.form-registro{
	color:#243B55;
	align-items: center;
	text-align: center;
	position: absolute;
	align-items: center;
	width: 800px;
	top: 50px;
}   
.h1{
	font-size:50px;
	
}
#tienes-cuenta{
	right:40px;
	position: relative;

}

#especial,#crear{
	width:418px;
	height:40px;
	
}

header{
	height: 50px;
}

.logo{
	margin-top: 10px;
	margin-left:50px;
}

#Campodetexto,#especial{
	height: 40px;
	color:  #243B55;
	border:2px solid #243B55;
	padding:15px;
	font-family:Helvetica;

}
#Campodetexto::placeholder{
	color:  #243B55;
}

#Campodetexto:focus,#especial:focus {
  border-color: #243B55; /* Cambiar el color del borde cuando el campo está enfocado */
  outline: none; /* Quitar el contorno predeterminado que algunos navegadores añaden al enfoque */
}

#tipo{
	
	height: 40px; 
	width: 418px; 
	border:2px solid #243B55;
	font-family:Helvetica;
}
label{
	color:  #243B55;
	right:90px;
	position: relative;
	font-family:Helvetica;
}

.container-input{
	display: flex;

}


#Campodetexto,#especial,#tipo,#crear{
position: relative;
left: 25%;

}
.img{
	position: relative;
	left: 26%;
	margin-top:0.8%;
}

#msj-correo-existente{
	display: flex;
	position: relative;
	left: 26%;
	height: 40px;
	width: 50%;
	text-align: left;
	top: 10px;
	vertical-align: middle;
}

#msj-CE{
	position: relative;
	bottom: 10px;
	
	
}

#btn-cerrar-email{
	
	height: 1%;
	
}