<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/comprador/actualizar.css}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Carrito de compras | Actualizar Productos del carrito</title>
</head>
<body>
	<header th:insert="~{/fragmentos/headertienda.html::header}" > </header>
	<main role="main">
		<div class="container">
			<div class="card" id="card_principal">
				<div class="card-header">
					<h4 class="h3">Actualizar este producto</h4>
				</div>
				<div class="card-body" >
					<form th:action="@{/carritodecompras/cliente/producto/actualizar}" method="post" th:object="${productoActualizar}">
					<div>
						<img th:src="@{\images\actualizarproducto.png}" class="img">
					</div>
					<div class="div-info">	
						<input type="hidden" th:field="${productoActualizar.id}">
						<h5 class="card-title" th:text="${ productoActualizar.productoStock.nombre}"></h5>
						
						<hr>
						<p class="card-text" th:text="${productoActualizar.productoStock.descripcion}"></p>
						<p class="card-text">Precio:
							 <strong th:text="${'$ '+ productoActualizar.productoStock.precio}"></strong>
						</p>
						
						<div class="div-cantidad">	
							<p >Cantidad selecionada:</p>
						</div>
		
						<div class="select">
							<select class="form-select form-select-sm" id="select-cantidad" th:field="*{cantidadSeleccionada}" aria-label="Small select example" >
								<option selected value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
					</div>
					
						<div class="div-btn">
							<input type="submit" class="btn btn-outline-success rounded-pill" id="agregaralcarrito" value="Actualizar">
							
						</div>
						
					</form>
						
				</div>
			</div>
		</div>

	</main>
	<br>
    <footer th:insert="~{\fragmentos\footertienda.html::footer-tienda}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>