<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/vendedor/agregarproducto.css}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Carrito de compras | nuevo producto</title>
</head>
<body>
	<header th:insert="~{/fragmentos/headertienda.html::header}" > </header>
	
<main role="main">
<br>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h2 class="h1"> <img th:src="@{/images/nuevo.png}"> Nuevo producto</h2>
        </div>
        
        <div class="card-body" > 
          
          <form th:action="@{/carritodecompras/vendedor/producto/agregar}" method="POST" th:object="${productoStock}" class="row g-3 needs-validation" novalidate>
	         
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger alert-dismissible fade show" role="alert"> 
		        <ul >
		           <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
		        </ul>
	            <button  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div >   
			
            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">Nombre</label>
              <input placeholder="Nombre del articulo" type="text" class="form-control" id="validationCustom01" th:field="*{nombre}" required="required">
     
            </div>

            <div class="col-md-3">
              <label for="validationCustom04" class="form-label">Categoria</label>
              <select class="form-select" id="validationCustom04" required th:field="*{categoria.id}" >
                <option selected disabled="disabled" th:value="${null}">selecciona una categoria</option>
                <option th:each="categoria: ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
               
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
           
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
              <textarea placeholder="Escribe una breve descripción del producto"  class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{descripcion}" required></textarea>
            </div>
           

            <div class="col-md-4">
              <label for="validationCustom02" class="form-label" >Precio COP</label>
              <input  placeholder="Precio del articulo en pesos colombianos" type="number" class="form-control" id="validationCustom02" min="0" th:field="*{precio}" required="required">
              <div class="valid-feedback">
                
              </div> 
            </div>
            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Unidades disponibles</label>
              <input type="number" class="form-control" id="validationCustom02" min="0" th:field="*{unidadesDisponibles}" required="required">
          
              <div class="valid-feedback">
                
              </div> 
            </div>

            <div class="col-12">
              <a ><button class="btn btn-primary" type="submit" id="agregar">Agregar al listado</button></a> 
            </div>
          </form>
        </div>

      </div>
       
    </div><!--container-->
</main>
<br>
    <footer th:insert="~{\fragmentos\footertiendafijo.html::footer-tienda}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>